@media screen and (max-width:1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}


/* .section__pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.section__pic-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .section__pic-container {
        max-width: 200px;
    }
}
 */
